.section_hero {
  grid-column: center-start / center-end;

  padding: 4rem 0;
  height: 85vh;
  backface-visibility: hidden;

  display: grid;
  grid-template-columns: [center-start] repeat(2, [col-start] 1fr [col-end]) [center-end];
  grid-template-rows: 1fr min-content 2fr repeat(2, min-content) 1fr repeat(2, min-content) 2fr;
  grid-column-gap: 6rem;
  justify-items: start;
}

.Hero {

  &_logo {
    grid-row: 2 / span 1;
    grid-column: center-start / center-end;

    width: 100%;
    height: 10rem;
    object-fit: contain;
  }

  &_pretext {
    grid-row: 4 / span 1;
    grid-column: center-start / col-end 1;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;

    padding-left: .8rem;
    margin-bottom: 1rem;

    display: inline-block;
    position: relative;

    &::after {
      content: "";
      width: 102%;
      height: 1.4rem;
      background-color: rgba($color-primary-light, .5);
      position: absolute;
      left: 0;
      top: 1.7rem;
    }
  }

  &_name {
    grid-row: 5 / span 1;
    grid-column: center-start / col-end 1;

    font-size: 4rem;
    line-height: 1.2;
    font-weight: 800;
  }

  &_date,
  &_place {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;

    padding-left: .3rem;

    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-gap: 2rem;
  }

  &_date {
    grid-row: 7 / span 1;
    grid-column: center-start / col-end 1;

    margin-bottom: 2rem;
  }

  &_place {
    grid-row: 8 / span 1;
    grid-column: center-start / col-end 1;
  }

  &_gallery {
    grid-row: 4 / -1;
    grid-column: col-start 2 / center-end;
  }
}

.OrganisedBy {
  grid-row: -1 / -1;

  width: 35%;

  &_pretext {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &_logo {
    width: 100%;
    height: 6rem;
    object-fit: contain;
  }

}