@import "styles/abstract/variables";
.CommitteeList
{
    grid-column: center-start/center-end;   
    margin-top: 6rem;
    background-color: $color-grey-dark-3;
}
.heading
{
    font-size: 2.5rem;
    color: $color-primary-dark; 
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    text-align:center;
    margin-top:2rem;

    &___small
    {
        font-size:2rem
    }
}
.List
{
    font-size:1.8rem;
    color:$color-white;
    margin-top: 1rem;
    text-align:center;
    
}