@import "styles/abstract/variables";

@import "index-hero";
@import "index-tracks";

.section_rules {
  background-color: mediumpurple;

  grid-column: center-start / center-end;
}

.section_organisingCommittee {
  background-color: limegreen;

  grid-column: center-start / center-end;
}

