@import "../abstract/variables";

.section_hero {
  background-color: orangered;
  height: 95vh;

  grid-column: center-start / center-end;
}

@import "../pages/index-tracks";
@import "../base/typography";

.section_rules {
  background-color: mediumpurple;

  grid-column: center-start / center-end;
}

.section_organisingCommittee {
  background-color: limegreen;

  grid-column: center-start / center-end;
}

