.SubmissionPage {
  grid-column: center-start / center-end;
  margin-bottom: 4rem;
}
.SubmissionPage_heading{
	padding: 1rem;
	font-size: 1.8rem;
}
.SubmissionPage_notes{
	font-size: 1.5rem;
  margin-left: 2rem;
}
.heading{
	font-size: 2rem;
	font-weight: bold;
	margin: 2rem;
}
.Packages {
  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	margin-bottom: 2rem;
  }
  &_btn{
	display: flex;
	justify-content: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 300;
	align-items: center;
	gap: 2rem;
  margin-bottom: 2rem;
  }

  &_toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	cursor: pointer;
	padding: 0 2rem;
  font-size: 4rem;
  color: #a72bef;
  }
}

.PackageCard {
  margin: 1rem;
  width: 30rem;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #a72bef;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  flex-wrap: wrap;
  color: #f4f4f4;
  padding-top: 1.5rem;

  &_title {
	font-size: 2.2em;
  }

  &_price {
	font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px
  }

  &_label {
	margin-top: 40px;
	font-size: 2rem;
  }
}
.h1{
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}
.heading{
  margin-top: 3rem;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}
.SubmissionPage_table_resp {
  display: inline-table;
  font-size: 1.5rem;
  align-items: center;
  justify-items: center;
  margin-top: 3rem;
  position: relative;

  th {
    padding: .3rem 0;
  }

  thead {
    text-align: center;
    background-color: #a72bef;
    color: white;
}
&_heading{
  position: relative; 
    margin-bottom: .75rem;
  font-size: 2.5rem;
}
&_Content{
  padding: 1rem;
}
}