@import "styles/abstract/variables";
@import "styles/abstract/mixins";

.Footer {
  grid-column: full-start / full-end;

  @include default-grid;

  background-color: $color-grey-dark-3;
  padding: 8rem 0;
  color: $color-white;
}

.Address,
.ContactUs {
  display: grid;
  gap: 1.5rem;
  align-items: center;

  &_heading,
  &_icon {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  &_icon {
    grid-column: 1 / span 1;
  }

  &_heading {
    grid-column: 2 / span 1;
    padding-bottom: 0.3rem;
  }
}

.Address {
  grid-column: center-start / col-end 4;
  grid-template-columns: repeat(2, max-content);

  &_content {
    grid-column: 2 / span 1;
  }

  &_line {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8;
  }
}

.ContactUs {
  grid-column: col-start 5 / center-end;
  grid-template-columns: repeat(3, max-content);

  &_list {
    align-self: start;

    &___phone {
      grid-column: 2 / span 1;
    }

    &___email {
      grid-column: 3 / span 1;
    }
  }

  &_item {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8;

    a {
      color: $color-white;
    }
  }
}

.CreatedBy {
  grid-column: full-start / full-end;

  background-color: $color-grey-dark-3;
  padding: 1rem 0;
  color: $color-white;

  text-align: center;
  font-size: 1.2rem;

  &_link {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      color: $color-grey-light-1;
      text-decoration: none;
      transition: 0.2s;
    }
    &:hover {
      color: $color-primary-light;
    }
  }
}
