*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: $color-grey-dark-3;
  color: $color-grey-light-1;
}

.container {
  @include default-grid
}