$color-primary-light: #C173EF;
$color-primary: #A72BEF;
$color-primary-dark: #9000D4;

$color-grey-dark-1: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #1A2527;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-white: #ffffff;
$color-black: #000000;


// FONT
$default-font-size: 1.6rem;